Source: vyatta-cfg-system
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 cpio,
 dh-yang,
 libfile-slurp-perl,
 libfile-temp-perl,
 libipc-run3-perl,
 libnetaddr-ip-perl,
 libtest-mockobject-perl,
 pylint,
 python3-dbus,
 python3-gi,
 python3-vyatta-cfgclient,
 ronn | ruby-ronn,
 shunit2,
 libtest2-suite-perl,
 libjson-perl,
 libjson-xs-perl,
 libtemplate-perl,
 libtest-tempdir-tiny-perl,
 libtest-mockmodule-perl,
 libarray-utils-perl
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-cfg-system.git
Vcs-Browser: https://github.com/nudanos/vyatta-cfg-system

Package: vyatta-system-iommu-v1-yang
Architecture: all
Depends: vyatta-image-tools, ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-iommu-v1 module
 The YANG module for configuring system IOMMU options.

Package: vyatta-system-misc-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Breaks: vyatta-cfg-system (<< 1.6.0)
Replaces: vyatta-cfg-system (<< 1.6.0)
Description: vyatta-system-misc-v1 module
 Miscallaneous system configuration

Package: vyatta-system-network-v1-yang
Architecture: all
Depends: 
 vplane-config (>= 2.47) | vyatta-kernel-forwarding,
 vyatta-dataplane-cfg-ip4-0 | vyatta-kernel-forwarding,
 vyatta-dataplane-cfg-pb-vyatta:arp-0 | vyatta-kernel-forwarding,
 vyatta-dataplane-cfg-pb-vyatta:ip6-0 | vyatta-kernel-forwarding,
 vyatta-dataplane-cfg-pb-vyatta:nd6-0 | vyatta-kernel-forwarding,
 vyatta-dataplane-cfg-pb-vyatta:icmp-ratelimit-0 | vyatta-kernel-forwarding,
 vyatta-forwarding,
 vyatta-interfaces (>= 1.32),
 vyatta-system,
 ${misc:Depends},
 ${yang:Depends}
Breaks: vyatta-cfg-system (<< 1.6.0)
Replaces: vyatta-cfg-system (<< 1.6.0)
Description: vyatta-system-network-v1 module
 Global network parameter configuration

Package: vyatta-system-network-routing-instance-v1-yang
Architecture: all
Depends: libnss-vrfdns, ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-network-routing-instance-v1 module
 The YANG module for vyatta-system-network-routing-instance-v1

Package: vyatta-system-package-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Breaks: vyatta-cfg-system (<< 1.6.0)
Replaces: vyatta-cfg-system (<< 1.6.0)
Description: vyatta-system-package-v1 module
 Package management configuration

Package: vyatta-system
Architecture: any
Depends: 
 adduser,
 apt-transport-https,
 at,
 bash-completion,
 busybox,
 console-setup,
 fonts-terminus,
 cron,
 debsums,
 dmidecode,
 grub-common,
 host,
 ipmitool,
 iproute2,
 iputils-arping,
 isc-dhcp-client,
 kbd (>= 1.12-14),
 less,
 libconfig-inifiles-perl,
 libfile-slurp-perl,
 libio-prompt-perl,
 libipc-system-simple-perl,
 libnetaddr-ip-perl,
 libpam-runtime (>= 1.0.1-5),
 libswitch-perl,
 libsys-hostname-long-perl,
 libtemplate-perl,
 libtime-duration-perl,
 libvyatta-cfgclient-perl,
 libvyatta-config-perl,
 libvyatta-reboot-reason-perl,
 libxml-bare-perl,
 lm-sensors,
 lsof,
 mgetty,
 pciutils,
 procps (>= 1:3.2.7-3),
 python3,
 radvd,
 sudo,
 systemd,
 systemd-journal-remote,
 util-linux (>= 2.20.1-5),
 vyatta-bash,
 vyatta-cfg,
 vyatta-debian-pam-configs-config,
 vyatta-debian-passwd-config,
 vyatta-debian-system-config,
 vyatta-debian-systemd-config,
 vyatta-login,
 vyatta-opd,
 vyatta-util (>= 0.16),
 vyatta-forwarding,
 whois,
 wireshark-common,
 yang-utils,
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends}
Recommends:
 freeipmi-tools,
 vyatta-ipmi,
 vyatta-platform-util
Breaks: 
 vyatta-cfg-system (<< 1.6.0),
 vyatta-op (<< 1.0),
 vyatta-service-ntp (<< 0.3),
 vyatta-service-snmp (<< 0.40),
 vyatta-service-telnet (<< 1.3),
 vyatta-sssd-cfg (<< 0.38),
 vyatta-vrrp (<< 1.1.5)
Replaces: vyatta-cfg-system (<< 1.6.0), vyatta-op (<< 1.0)
Provides: libvyatta-file-perl, libvyatta-ioctl-perl, libvyatta-login-perl
Description: System command helper scripts
 Scripts to help with all system management functions aligned
 with RFC 7317 (ietf-system)

Package: vyatta-cfg-system
Architecture: any
Depends: 
 vyatta-interfaces-erspan-v1-yang,
 vyatta-interfaces-loopback-v1-yang,
 vyatta-interfaces-tunnel-v1-yang,
 vyatta-interfaces-vti-v1-yang,
 vyatta-security-ssh-known-hosts-v1-yang,
 vyatta-service-dns-v1-yang,
 vyatta-service-snmp-v1-yang,
 vyatta-service-ssh,
 vyatta-service-ssh-v1-yang,
 vyatta-service-telnet-v1-yang,
 vyatta-system-login-v1-yang,
 vyatta-system-misc-v1-yang,
 vyatta-system-network-v1-yang,
 vyatta-system-package-v1-yang,
 vyatta-system-syslog-v1-yang,
 vyatta-system-time-v1-yang,
 ${misc:Depends},
 ${perl:Depends},
 ${shlibs:Depends}
Suggests: dialog, ncurses-bin (>= 5.5-5)
Description: Vyatta system-level configuration (meta-package)
 Vyatta system-level configuration utiliites, templates and scripts.

Package: vyatta-op-show-hardware-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-hardware-v1 module
 The YANG module for show hardware operational commands

Package: vyatta-op-reset-system-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-reset-system-v1 module
 The YANG module for reset system operational commands

Package: vyatta-op-show-system-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-system-v1 module
 The YANG module for show system operational commands

Package: vyatta-system-platform-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-platform-v1 module
 The YANG module for platform configuration parameters

Package: vyatta-system-platform-deviation-danos-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-platform-deviation-danos-v1 module
 The YANG module for DANOS platform deviations

Package: vyatta-system-sensor-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-sensor-v1 module
 The YANG module for retrieving platform sensors information

Package: vyatta-op-show-platform-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-platform-v1 module
 The YANG module for show platform operational commands

Package: vyatta-op-show-hardware-cpu-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-hardware-cpu-v1 module
 The YANG module for show hardware cpu operational commands

Package: vyatta-op-show-host-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-hardware-cpu-v1 module
 The YANG module for show host operational commands

Package: vyatta-op-show-host-routing-instance-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-host-routing-instance-v1 module
 The YANG module for show host lookup routing instance operational command

Package: vyatta-op-show-security-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-security-v1 module
 The YANG module for show security operational commands

Package: vyatta-op-clear-security-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-clear-security-v1 module
 The YANG module for clear security operational commands

Package: vyatta-system-hardware-cpu-history-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-hardware-cpu-history-v1 module
 The YANG module for retrieving CPU utilization information

Package: vyatta-system-fru-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-fru-v1 module
 The YANG module for retrieving field-replaceable unit (FRU) information

Package: vyatta-op-show-system-storage-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-system-storage-v1 module
 The YANG module for show system storage operational commands

Package: vyatta-system-storage-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-storage-v1 module
 The YANG module for retrieving system storage information

Package: vyatta-op-clear-block-device-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-clear-block-device-v1 module
 The YANG module for clear block-device operational commands

Package: vyatta-op-reboot-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-reboot-v1 module
 The YANG module for reboot operational commands

Package: vyatta-system-reboot-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-system-reboot-v1 module
 The YANG module for system reboot

Package: vyatta-op-show-system-ip-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-system-ip-v1 module
 The YANG module for show system IP operational commands

Package: vyatta-op-show-system-ip-icmp-v1-yang
Architecture: all
Depends: vyatta-system, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-system-ip-icmp-v1 module
 The YANG module for show system ICMP operational commands

Package: vyatta-op-clear-system-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-clear-system-v1 module
 The YANG module for clear system operational commands

Package: vyatta-op-clear-system-ip-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-clear-system-ip-v1 module
 The YANG module for clear system IP operational commands

Package: vyatta-op-clear-system-ip-icmp-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-clear-system-ip-icmp-v1 module
 The YANG module for clear system ICMP operational commands

Package: libvyatta-reboot-reason-perl
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Description: Vyatta reboot reason perl module
 Perl module for vyatta reboot reason
