#!/usr/bin/make -f
#
# This debian/rules uses debhelper.
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CFLAGS += -Wall -Wextra -Werror

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/opt/vyatta --sysconfdir=/opt/vyatta/etc --mandir=/usr/share/man CFLAGS="$(CFLAGS)"

# verbose output of unittest logs
override_dh_auto_test:
	dh_auto_test -- VERBOSE=1

# *.yang files and related templates are distributed via debian install files
override_dh_auto_install:
	dh_auto_install --destdir=debian/vyatta-system
	mkdir -p debian/tmp/usr/share
	mv debian/vyatta-system/usr/share/configd debian/tmp/usr/share

override_dh_installsystemd:
	# the default Vyatta target (vyatta-base 90-vyatta.preset): enabled at install,
	# as nothing applies presets when an image is built
	dh_installsystemd --name=config-loaded --no-start
	dh_installsystemd --name=vyatta-system.clear-system-config --no-start
	dh_installsystemd --name=vyatta-system.generate-ssh-banner --no-start
	dh_installsystemd --name=vyatta-system.system-configure --no-start
	dh_installsystemd --name=vyatta-system.system-preconfigure --no-start
	dh_installsystemd --name=vyatta-system.vyatta-cpu-history-daemon --no-start
	dh_installsystemd --name=vyatta-system.vyatta-platform-setup --no-start
	dh_installsystemd --name=vyatta-system.vyatta-pre-boot.target --no-start



%:
	dh $@ --with autoreconf --with yang
